
*
{
    --item-margin: 1em;
}


h1#title::before
{
    content: "Joshua Petersen";
}

div#logo p::before
{
    content: "Games Programmer";
}


.space-between
{
    justify-content: space-between;
}

dialog::backdrop
{
    background-color: rgba(0, 0, 0, 0.5);
}

.enlarge:hover
{
    opacity: 0.25%;
    transition: transform 2s;
}

.item h3
{
    color: darkblue;
}




li.two-nav-buttons
{

    /*justify-content: space-between;*/
}


li.two-nav-buttons a, span
{
    display: inline-flex;
    flex-grow: 1;
    justify-content: space-around;
    /*color: rgba(255,255,255, 0.5);*/
  
    
}

li.two-nav-buttons span
{
    
    text-align: right;
}
li.two-nav-buttons a
{
    text-align: left;
}


.hidden
{
    display: none;
}

.about-me-contents
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}
.about-me-contents h3
{
    margin-left: 0;
    padding-left: 7%;
}
.about-me-contents div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.about-me-contents span
{
    color: inherit;
    
}

div.about-me-contents div  li
{
    list-style: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
div.about-me-contents li
{
    list-style: none;

    color: inherit;
}

.about-me-contents
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}
.about-me-contents h3
{
    margin-left: 0;
    padding-left: 7%;
}
.about-me-contents div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
span
{
    color: inherit;

}

div.about-me-contents div  li
{
    list-style: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
div.about-me-contents li
{
    list-style: none;

    color: inherit;
    
}

div.about-me-contents .engines
{
    height: fit-content;
}




div.about-me-contents .engines ul:last-child
{
    padding: 0;
}

div.about-me-contents .engines
{
    height: fit-content;
}




div.about-me-contents .engines ul:last-child
{
    padding: 0;
}


.centre
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ol.left, ol.left ul
{
    text-align: left;
    list-style-position: inside;
}


.fit-content
{
    height: fit-content;
}

ol.small-gap li
{
    margin-bottom: 3%;
}
/*
.about-me-contents, section#about
{
    background-color: yellow;
}*/

header, a, h3, h2
{
    background-color: transparent;
    color: white;
}

header
{
    background-color: rgba(0,0,0,0.25);
    text-align: center;
}

#main
{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

strong, p, li
{
    color: var(--standard-text-colour);
}


.fill-width
{
    width: 100%;
}

footer
{
    align-content: center;
    margin-bottom: var(--item-margin);
    margin-top: 0;
}
.item
{
    margin-bottom: var(--item-margin);
}
header, h2
{
    margin-top: var(--item-margin);
}

li span, ol span
{
    color: var(--standard-text-colour);
}


.inactive-link
{
    pointer-events: none;
    cursor: default;
}

form input:invalid + input[type="submit"]
{
    opacity: 0.5;
    pointer-events: none;
}


.clickable:hover
{
    cursor: pointer;
}

#about .container p, .container header
{
    margin: 0 0 2em;
}

/*#nav ul li:hover, #nav ul li a:hover,  #nav ul li a span:hover*/
#nav a:hover, #nav li:hover, .nav-link-highlight:hover
{
    background-color: black;
    color: white;
}
#nav ul li span:hover, #nav ul li span:hover::before
{
    background-color: black;
    color: white;
}       
#nav a[role="link"]:hover
{
    background-color: black;
    color: white;
}

#nav .solid:hover
{
    background-color: black;
    color: white;
}

#nav span
{
    color: lightgrey;
}

.languages, .engines
{
    color: var(--standard-text-colour);
}

.hidden
{
    display: none;
}